body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#ffb6c1, #ffe4e1);
  font-family: 'Comic Sans MS', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#yesBtn:hover {
  background-color: #ff1e4d;
}

#noBtn {
  background-color: #aaa;
  color: white;
}

#message {
  margin-top: 20px;
  font-size: 20px;
  color: #ff1e4d;
}
.petal {
  position: fixed;
  width: 20px;
  pointer-events: none;
  z-index: 9999;
  animation-name: fall;
  animation-timing-function: linear;
}

@keyframes fall {
  0% {
    transform: translateY(-50px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0.9;
  }
}
